django==5.0.7
#django-channels==0.7.0
pydantic-settings==2.3.4
djangorestframework==3.15.2
psycopg2-binary==2.9.9
uvicorn==0.30.1
daphne==4.1.2
channels-redis==4.2.0
gunicorn==22.0.0
chromedriver-autoinstaller==0.6.4
multipledispatch==1.0.0
django-cors-headers==4.4.0
pillow==10.4.0
pandas==2.2.3
requests
reportlab==4.2.5
matplotlib==3.9.2
openpyxl==3.1.5
drf-extra-fields==3.7.0
